<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a book</title>
</head>
<body>
    <a href="/dashboard">Home</a>
    <a href="/logout">Logout</a>
    
    <h1>Add a new book title and a review</h1>

    <form action="/dashboard/book_process" method = "post">
        {% csrf_token %}
        <label for="title">Book Title: <input type="text" name="title"></label><br>
        <label for="author_drop">Author</label>
        <select name="author_drop">
            {% for author in authors %}
            <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select>
        <label for="author">Or add a new author: <input type="text" name="author"> </label>
        <p>Review</p>
        <textarea name="review" cols="30" rows="10"></textarea><br>
        <label for="rating">Rating 
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>stars
        </label>
        <input type="submit" value="Add Book and Review">
    </form>
</body>
</html>